Source: rnm
Section: utils
Priority: optional
Maintainer: Jahidul Hamid <jahidulhamid@yahoo.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http:://neurobin.github.io/rnm
#Vcs-Git: git://git.debian.org/collab-maint/rnm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/rnm.git;a=summary

Package: rnm
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libstdc++6 (>=4.9.3)
Description: Bulk rename utility
 Files and directories can be passed as command line arguments to rename them in bulk according to some naming scheme (Name String). If any file or directory path is not passed as command line argument, it will wait for user to type the path i.e it will take the path from standard input (>=version 3.0.1). It uses C++ regex (ECMAScript regex) as the default regex to provide search (and replace) functionality, other regex modes are available through (-re) option. It provides an undo functionality too to move back an unwanted rename operation. You can also run a simulation instead of actual rename to view the potential outcome as program output on terminal with the -sim option.
